<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>foerde-click-collect.config.cardTitle</title>
        <input-field type="int">
            <name>pickupWindowDays</name>
            <label>foerde-click-collect.config.pickupWindowDaysLabel</label>
            <helpText>foerde-click-collect.config.pickupWindowDaysHelp</helpText>
            <defaultValue>2</defaultValue>
            <min>1</min>
            <step>1</step>
        </input-field>
        <input-field type="int">
            <name>pickupReadyHours</name>
            <label>foerde-click-collect.config.pickupReadyHoursLabel</label>
            <helpText>foerde-click-collect.config.pickupReadyHoursHelp</helpText>
            <defaultValue>4</defaultValue>
            <min>1</min>
            <step>1</step>
        </input-field>
    </card>
</config>
