<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config-1.0.xsd">
    <card>
        <title lang="en-GB">Click &amp; Collect</title>
        <title lang="de-DE">Click &amp; Collect</title>

        <input-field type="int">
            <name>pickupWindowDays</name>
            <label lang="en-GB">Pickup window (days)</label>
            <label lang="de-DE">Abholzeitraum (Tage)</label>
            <helpText lang="en-GB">Number of full days the order should be held for pickup.</helpText>
            <helpText lang="de-DE">Anzahl ganzer Tage, die die Bestellung zur Abholung bereitgehalten wird.</helpText>
            <defaultValue>2</defaultValue>
            <min>1</min>
            <step>1</step>
        </input-field>

        <input-field type="int">
            <name>pickupPreparationHours</name>
            <label lang="en-GB">Preparation time (hours)</label>
            <label lang="de-DE">Vorbereitungszeit (Stunden)</label>
            <helpText lang="en-GB">Target time until the order is usually ready for pickup.</helpText>
            <helpText lang="de-DE">Zielzeit, bis die Bestellung üblicherweise abholbereit ist.</helpText>
            <defaultValue>4</defaultValue>
            <min>1</min>
            <step>1</step>
        </input-field>

        <input-field type="text">
            <name>storeName</name>
            <label lang="en-GB">Store name</label>
            <label lang="de-DE">Marktname</label>
        </input-field>

        <input-field type="text">
            <name>storeAddress</name>
            <label lang="en-GB">Store address</label>
            <label lang="de-DE">Adresse des Markts</label>
        </input-field>

        <input-field type="text">
            <name>storeOpeningHours</name>
            <label lang="en-GB">Opening hours</label>
            <label lang="de-DE">Öffnungszeiten</label>
        </input-field>

        <input-field type="text">
            <name>storeEmail</name>
            <label lang="en-GB">Store email (staff inbox)</label>
            <label lang="de-DE">E-Mail des Markts (Mitarbeiter)</label>
            <helpText lang="en-GB">Orders with Click & Collect will notify this address when placed.</helpText>
            <helpText lang="de-DE">Bei Click & Collect wird an diese Adresse eine Benachrichtigung gesendet.</helpText>
        </input-field>
    </card>
</config>
