<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="urn:shopware:config:1.0">
    <card>
        <title>foerde-click-collect.config.cardTitle</title>
        <input-field type="int">
            <name>pickupWindowDays</name>
            <label>foerde-click-collect.config.pickupWindowDaysLabel</label>
            <helpText>foerde-click-collect.config.pickupWindowDaysHelp</helpText>
            <defaultValue>2</defaultValue>
            <min>1</min>
            <step>1</step>
        </input-field>
        <input-field type="int">
            <name>pickupExpiryOverrideDays</name>
            <label>foerde-click-collect.config.pickupExpiryOverrideLabel</label>
            <helpText>foerde-click-collect.config.pickupExpiryOverrideHelp</helpText>
            <placeholder>foerde-click-collect.config.pickupExpiryOverridePlaceholder</placeholder>
            <min>1</min>
            <step>1</step>
            <allowEmpty>true</allowEmpty>
        </input-field>
    </card>
</config>
